{% extends 'app/base.html' %}

{% block content %}
    <div class="list">
        <h2>詳細</h2>
        <div style="text-align: right;">
            <a class="btn_return" href="{% url 'app:index' %}">戻る</a>
        </div>
        <!-- 各インスタンス属性の要素を取得 -->
        <!-- <p>アップロード日：{{ file_value.created_at }}</p>-->
        <p><a class="btn_item" href="{{ file_value.upload_file.url }}">ダウンロード</a>：{{file_value.upload_file_name }}</p>
        <br>
        <!-- 読み込んだCSVファイルをテーブル形式で表示 -->
        <table border="1">
            <tr>
                <td>index</td>
                {% for columns, item in df.iteritems %}
                    <th>{{ columns }}</th>
                {% endfor %}
            </tr>
            {% for index, rows in df.iterrows %}
                <tr>
                    <th>{{ index }}</th>
                    {% for row in rows %}
                        <td>{{ row }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

<!--
<!doctype html>
<html>
        <head>
                <title>Yency - 家計簿アプリ</title>
        </head>
        <body>

            <h2>CSVファイル内容詳細</h2>
            <br>

            <a href="{% url 'app:index' %}">戻る</a>
            <br>

            <p>アップロード日：{{ file_value.created_at }}</p>
            <p>ダウンロード：<a href="{{ file_value.upload_file.url }}">{{file_value.upload_file_name }}</a></p>
            <br>

            <table border="1">
                <tr>
                    <td>index</td>
                    {% for columns, item in df.iteritems %}
                        <th>{{ columns }}</th>
                    {% endfor %}
                </tr>
                {% for index, rows in df.iterrows %}
                    <tr>
                        <th>{{ index }}</th>
                        {% for row in rows %}
                            <td>{{ row }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

        </body>
</html>
-->
